@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: teal;
}

* {
  font-family: "Urbanist", sans-serif;
}

.home-content {
  @apply max-w-7xl mx-auto;
}

.home-component-with-bg{
  @apply max-w-[1500px] mx-auto
}